.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    max-width: auto;
}

.login > button {
    width: 300px;
    background-color: #dbb9af;
    color: black;
    font-weight: 800;
}

.login > button:hover {
    background-color: black;
    color: #dbb9af;
}

.login > div > img {
    object-fit: contain;
    height: 400px;
}

